echo $(pwd)

echo -e "\n\n"
echo "source up $(pwd)/.."
source_up
export DJANGO_SETTINGS_MODULE=core.settings

echo -e "\n\n"
echo "source ./.venv/bin/activate"
source ./.venv/bin/activate

# コンテナ名を変数に格納
container_name="postgres_django"

# コンテナが存在するかどうかを確認
if [ $(docker ps -a -q -f name=$container_name) ]; then
    # コンテナが存在する場合の処理
    echo "Container $container_name exists."

    # コンテナが実行中かどうかを確認
    if [ $(docker ps -q -f name=$container_name) ]; then
        # コンテナが実行中の場合の処理
        echo "Container $container_name is already running."
    else
        # コンテナが実行中でない場合の処理
        echo "Container $container_name is not running. Starting the container..."
        docker start $container_name
    fi
else
    # コンテナが存在しない場合の処理
    echo "Container $container_name does not exist. Creating and starting the container..."
    docker run -d -p 5432:5432/tcp -e POSTGRES_PASSWORD=postgres -e POSTGRES_USER=postgres -e POSTGRES_DB=postgres --name $container_name postgres:latest 

    # Wait for 20 seconds
    echo "Waiting for 20 seconds for the database to initialize..."
    sleep 20
fi

echo "docker exec -it $container_name psql -U postgres -c 'create database django'"
docker exec -it $container_name psql -U postgres -c 'create database django'